{% extends 'base.html.twig' %}

{% block title %}DealGames - {{ announce.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">

    <a href="{{ path('announce.index') }}"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
            viewBox="0 -960 960 960" width="24px" fill="#000000">
            <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
        </svg>Revenir en arrière</a>

    <div class="thumbnail">
       <img src="{{ vich_uploader_asset(announce, 'thumbnailFile') }}" alt="Image Produit" style="width:300px; height:300px;"> 
    </div>
    <h1> {{ announce.title }} </h1>

    <h2>Publié par {{ announce.author }},</h2>

    <h4>le {{ announce.published|date("j F, H:i") }}</h4>

    <h5>{{ announce.category|capitalize }}</h5>

    <p>
        {{ announce.description }}
    </p>

    {% if app.user %}
    <div class="d-flex">
        <a href="{{ path('announce.edit', {id: announce.id}) }}" class="btn btn-primary"><svg
                xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                <path
                    d="M120-120v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm584-528 56-56-56-56-56 56 56 56Z" />
            </svg> Modifer mon annonce</a>
        <form action="{{ path('announce.delete', {id: announce.id}) }}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" href="{{ path('announce.delete', {id: announce.id}) }}" class="btn btn-danger"><svg
                    xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                    fill="#FFFFFF">
                    <path
                        d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm80-160h80v-360h-80v360Zm160 0h80v-360h-80v360Z" />
                </svg> Supprimer mon annonce</button>
        </form>
    </div>
    {% endif %}

</div>
{% endblock %}